<div class="row" ng-show="current_user">
  <a class="btn btn-primary pull-right" ui-sref="posts.new" role="button">New Post</a>
  <div ui-view></div>
</div>
<div class="row">
  <div ng-repeat="post in posts | orderBy:'-upvotes'">
    <div class="row">
      <span class="glyphicon glyphicon-thumbs-up" ng-click="upvotePost(post)"></span>
      {{post.upvotes}}
      <span class="post-title">
        <a ng-show="post.link" href="{{post.link}}">
          {{post.title}} ({{post.link}})
        </a>
        <span ng-hide="post.link">
          {{post.title}}
        </span>
      </span>
    </div>
    <div class="row">
      <span class="comment-count">
        <a ui-sref="post({id: post.id})">{{post.comments.length}} Comments</a> 
        <span ng-show="has_comments(post)"> Last commenter: <b>{{ last_commenter(post) }}<b></span>
      </span>
    </div>
  </div>
</div>
